name: "Frogbot Scan Pull Request"

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write
  security-events: write

jobs:
  scan-pull-request:
    runs-on: ubuntu-latest
    environment: frogbot
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Frogbot Scan
        uses: jfrog/frogbot@v2
        env:
          # The secrets you configured in Step 1
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          JF_GIT_TOKEN: ${{ secrets.JF_GIT_TOKEN }}
          
          
          # Optional: If you want to specify a specific project or watch in Xray
          # JF_PROJECT: "my-project-key" 
          # JF_WATCH: "my-watch-name"
